@font-face {
    font-family: 'StreetWear';
    src: url(../fonts/Streetwear.otf);
  }

  @font-face {
    font-family: 'Berlin';
    src: url(../fonts/Berlin.ttf);
  }

body{
    font-family: Berlin, sans-serif;
    max-width: 1400px;
    height: 100vh;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-areas: 
        "main menu"
}

a, a:visited{
    color: inherit;
    transition: opacity 0.15s ease;
}

a:hover{
    opacity: 0.5;
}

main{
    grid-area: main;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: 60px;
}

nav{
    grid-area: menu;
    display: flex;
    align-items: center;
}

#logo{
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 30px 30px -5px rgba(0,0,0,0.2) ;
}

#menu{
    list-style: none;
    text-transform: uppercase;
    padding-left: 60px;
}

#menu a{
    text-decoration: none;
}

#menu li{
    margin-bottom: 0.33em;
}

#menu .current{
    text-decoration: underline;
}

#menu li:last-child{
    font-size: 0.66em;
}

i{
    margin-right: 16px;
}

#about{
    text-align: right;
    /* max-width: 80%; */
    margin-right: 0;
    margin-left: auto;
}

@media screen and (max-width: 1200px), screen and (orientation: portrait){
    body{
        grid-template-columns: auto;
        grid-template-rows: 25vh auto;
        grid-template-areas: 
            "menu"
            "main";
        row-gap: 60px;
    }

    nav{
        justify-content: space-evenly;
        padding-top: 60px;
    }

    main{
        padding-right: 0;
    }

    #logo{
        height: 22.5vh;
        width: auto;
    }

    #about{
        text-align: center;
    }
}